html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
}

.wrap > .container {
    padding: 50px 0px 0px;
}

.footer {
    height: 10px;
    background-color: #009688;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.btn-left-menu{
	border: 1px solid #0277BD; 
	border-left: 0px; 
	border-right: 0px; 
	border-top: 0px; 
	padding: 5px;
}
.btn-left-menu:hover {
	cursor: pointer;
	background: #B2EBF2
}
.left-menu{
	float: left; 
	border: 1px solid #0277BD; 
	border-bottom: 0px; 
	height: 100vh; 
	width: 200px
}
.right-box{
	float: left;
	padding-left: 5px;
	padding-top: 5px;
	width: 50%;	 
}
.navbar-inverse{
	background-color: #01579B;
	border-color: #0277BD;
}
.container {
    width: 100%;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #424242;
}
.navbar-inverse .navbar-nav > li > a {
    color: #B3E5FC;
}
.table-add  td{
	padding-bottom: 2px;
	width: 100px
}
.button {		
	max-width: 100px;
	text-align: center;
	border: 1px solid #607D8B;
	-webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.button:hover {
	cursor: pointer;
	background: #B2EBF2
}
.form{
	border: 1px solid #0277BD;
	border-left: 0px;
	border-bottom: 0px;
	border-top: 0px;
	height: 99vh;
}
.result-box{
	float: left;
    width: 35%;	
    padding-left: 5px;
	padding-top: 5px;
}
.head-box{
	background: #757575;
	color: #fff;
	margin-bottom: 5px;
	margin-right: 5px;
}
.breadcrumbs-line {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.breadcrumb{
	margin-bottom: 0px;
}
.span_link{
	color: #337ab7
}
.span_link:hover{
	cursor: pointer;
	color: #1A237E;
	text-decoration: underline;
}